/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
	padding-bottom: 10px;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

/* ajout des propriétés de l'id "contact" à l'id "login" : */

#contact, #login {
	width: 50%;
margin: auto;
}
#contact > *, #login > * {
	text-align: center;

}
#contact h2, #login h2{
	margin-bottom: 20px;
}
#contact form, #login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, #login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label, #login label {
	margin: 2em 0 1em 0;
}
#contact textarea, #login textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}


/* ajout au css d'origine : */

.filter_buttons_container {
	display: flex;
	gap: 10px;
	margin-bottom: 55px;
    flex-direction: row;
	justify-content: center;
}

.filter_buttons {
	all: unset;
	border: 1.5px solid #1D6154;
    border-radius: 20px;
    color: #1D6154;
	font-size: 16px;
	padding: 10px;
    font-weight: 700;
    font-family: 'Syne';
}

.button_selected {
	color:white;
	background-color: #1D6154;
}

a {
	text-decoration: none;
	color: black;
}

nav a:hover {
	color: #B1663C;
}

.login_selected {
	font-weight: 600;
}

.forgetpassword {
	text-decoration: underline;
	margin:auto;
	cursor: pointer;
}

.forgetpassword:hover {
	color:black;
}

#login {
	width: 50%;
	margin: auto;
	padding-top: 20%;
	padding-bottom: 20%;
}

.footer_login {
	position: absolute;
    bottom: 0px;
    right: 0px;
}

#buttonContainer {
	background: black;
	padding: 10px;
	display: flex;
    flex-direction: row;
	justify-content: center;
	gap: 25px;
}

#buttonContainer button {
	border-radius: 20px;
	font-size: 14px;
	padding: 10px;
}

#buttonContainer button:first-of-type {
	all:unset;
	color: white;
}

#buttonContainer .fa-pen-to-square {
	color:white;
	padding: 10px;
	font-weight: 100;
}

.logout_button {
	all: unset;
    cursor: pointer;
}

#portfolio .edit_button {
	all:initial;
	padding-left: 10px;
	font-size: 13px;
	cursor:pointer;
}

#portfolio h2 {
	margin-left: 105px;
}

#introduction .edit_button {
	all:initial;
	display: block;
	font-size: 13px;
	padding-bottom: 10px;
	cursor:pointer;
}

.edit_button3 {
	all:initial;
	font-size: 13px;
	padding-top: 10px;
	padding-left: 51px;
	cursor:pointer;
}

#introduction .fa-pen-to-square {
	color: black;
	padding-right: 6px;
	font-weight: 100;
	pointer-events: none;
}

#portfolio .fa-pen-to-square {
	color:black;
    padding-right: 6px;
	font-weight: 100;
	pointer-events: none;
}
/* -------------------------- */

.modal {
	display: none;
	position: fixed;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:rgba(0, 0, 0, 0.8);
}

.modal-wrapper {
	display: block;
	width: 600px;
    height: 730px;
	max-width: calc(100vh - 20px);
	max-height: calc(100vh - 20px);
	padding: 55px;
	background-color: #fff;
}

.modal-wrapper2 {
	display: none;
	width: 600px;
    height: 730px;
	max-width: calc(100vh - 20px);
	max-height: calc(100vh - 20px);
	padding: 55px;
	background-color: #fff;
}

.close_button {
	display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
    font-weight: 700;
    font-size: 17px;
	position: relative;
    bottom: 75px;
	width: 10px;
    left: 600px;
}

.close_button2 {
	display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
    font-weight: 700;
    font-size: 17px;
	position: relative;
    bottom: 75px;
	width: 10px;
    left: 600px;
}

.gallery-container {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 0px;
}

.gallery-container img {
	width: 100%;

}

.gallery-container button {
	position: relative;
    bottom: 150px;
    left: 79px;
	border: unset;
    color: white;
	background: black;
    cursor: pointer;
	padding: 5px;
}

.fa-arrows-up-down-left-right {
	position: relative;
    bottom: 150px;
    left: 32px;
	border: unset;
    color: white;
	background: black;
	padding: 6px 4px;
}

#modal2 .fa-arrow-left {
	position: relative;
	bottom: 88px;
	cursor: pointer;
	font-size: 17px;
}

.modal-wrapper h1 {
	align-items:center;
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 26px;
	color: black;
	padding-bottom: 32px;
}

.modal-wrapper2 h1 {
	align-items:center;
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 26px;
	color: black;
	padding-bottom: 32px;
}

.add-button {
    all: unset;
	display: flex;
	justify-content: center;
	margin: auto;
	margin-top: 25px;
	padding: 12px;
	color: white;
	background: #1D6154;
	border-radius: 60px;
	width: 237px;
}

.deletewholegallery {
	text-align: center;
	padding: 24px;
	color: #D65353;
}

.gallery figure img {
	height: 490px;
}

.gallery-container figure img {
	height: 139px;
}

#modal2 form {
	position: relative;
    top: 384px;
}

.addPhotoTitle {
	position: relative;
	bottom: 46px;
    left: 91px;
}

.addPhotoTitlebar {
	position: relative;
    left: 57px;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    width: 400px;
    height: 51px;
    padding: 0px 10px
}

.addPhotoCategory {
	position: relative;
    top: 73px;
    right: 358px;
}

.addPhotoCategorybar {
	position: relative;
    top: 69px;
    left: 90px;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    width: 420px;
    height: 51px;
    padding: 0px 10px
}

.addPhotoValidate {
	position: relative;
    top: 143px;
    left: 195px;
	height: 36px;
    width: 237px;
    border-radius: 20px;
    background: #A7A7A7;
    border: none;
    color: #fff;
    font-family: 'Work Sans';
    font-size: 14px;
}

#modal2 .button-container {
    display: flex;
	flex-direction: column;
    position: relative;
    bottom: 185px;
    left: 93px;
    width: 412px;
    height: 368px;
    background: #E8F1F6;
    justify-content: center;
    align-items: center;
}

#modal2 .addPhotoButton {
	position: absolute;
    padding: 8px 22px;
    border-radius: 20px;
    background: #CBD6DC;
    border: none;
    color: #306685;
    font-family: 'Work Sans';
    font-size: 14px;
}

.button-container img {
	max-width: 100%;
	max-height: 100%;
	position: absolute;
  }

#modal2 hr {
	position: relative;
	top: 86px;
    width: 69%;
}

/* -------------------------- */


input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

